# ignore all heavy files
*.pyc 
*.npz
*.xlsx
*.csv
*.pk
*.svm
*.data
*.mat
*.pickle
*.pkl
*.txt
*.xcf
*.gz
*.aux
*.log
.DS_Store
tex/
arxiv/
__pycache__/
examples/data/data/
examples/zellner_gaussian/figs/
